html, body{
    margin: 0 0;
    padding: 0 0;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
}
.form-wrapper{
    background-color: rgba(255, 255, 255, .85) !important;
    border-radius: 10px;
    margin: 7%;
    padding: 10px 10px;
}
.login-wrapper{
    width: 35% !important;
    height: 25% !important;
}
.register-wrapper{
    width: 35% !important;
    height: auto !important;
}
.credit{
    text-decoration: none;
    color: #00d77d;
}
.credit:hover{
    text-decoration: none;
    color: seagreen;
}
label{
    font: bold;
}
button[type="submit"]{
    border-radius: 25px;
    width: 50%;
}
.centerer{
    margin: 0 !important;
}
input, textarea{
    background-color: rgba(255, 255, 255, .2) !important;
}
.welcome{
    text-decoration: none;
    font-size: 1.2em;
}